.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  max-width: 100%;
}

.player-name {
  display: inline-block;
  max-width: 100%;
  font-size: 1rem;
  color: #e1dec7;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

.player input {
  font-size: 1rem;
  max-width: 100%;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: #46432f;
  text-align: center;
  text-transform: uppercase;
}

@keyframes pulse-text {
  0% {
    color: #e1dec7;
  }
  50% {
    color: #9f9d83;
  }
  100% {
    color: #e1dec7;
  }
}

.player-symbol[data-symbol="X"] {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: var(--player-X-color);
}

.player-symbol[data-symbol="O"] {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: var(--player-O-color);
}
