@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
/* :root is  pseudo-class that represent html element*/
:root {
  --player-X-color: rgb(215, 62, 100);
  --player-O-color: rgb(57, 201, 206);
}

html {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(241, 210, 70, 0.98),
      rgba(250, 176, 103, 0.87)
    ),
    url("/bg-pattern-dark.png");
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 110rem;
}

header {
  text-align: center;
}

header img {
  width: 8rem;
  object-fit: contain;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

h1 {
  font-family: "Caprasimo", cursive;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: #3f3b00;
}

#game-container {
  /* min-height: 95vh; */
  max-height: fit-content;
  width: min(100%, 45rem); /* 45rem = 720px*/
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

#players {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
}

#players li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 2px solid transparent;
}

/*style for player-X when it is active */
#players.highlight-player li.active[data-symbol="X"] {
  border-color: var(--player-X-color);
  animation: pulse-x 1.5s infinite ease-in-out;
}

@keyframes pulse-x {
  0% {
    border-color: var(--player-X-color);
    box-shadow: 0 0 0 0 rgba(215, 62, 100, 0.4);
  }
  50% {
    border-color: var(--player-X-color);
    box-shadow: 0 0 0 0.5rem rgba(215, 62, 100, 0);
  }
  100% {
    border-color: var(--player-X-color);
    box-shadow: 0 0 0 0 rgba(215, 62, 100, 0);
  }
}

/* style for player-O when it is active */
#players.highlight-player li.active[data-symbol="O"] {
  border-color: var(--player-O-color);
  animation: pulse-o 1.5s infinite ease-in-out;
}

@keyframes pulse-o {
  0% {
    border-color: var(--player-O-color);
    box-shadow: 0 0 0 0 rgba(57, 201, 206, 0.4);
  }
  50% {
    border-color: var(--player-O-color);
    box-shadow: 0 0 0 0.5rem rgba(57, 201, 206, 0);
  }
  100% {
    border-color: var(--player-O-color);
    box-shadow: 0 0 0 0 rgba(57, 201, 206, 0);
  }
}

#players button {
  width: 3rem;
  border: none;
  background: none;
  color: #c3ba78;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
}

#players button:hover {
  color: #f8ca31;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pre-game {
  text-align: center;
}

#pre-game button {
  cursor: pointer;
  background: none;
  color: #f8c031;
  border: none;
  font-family: "Caprasimo", cursive;
  font-size: 4rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  animation: pulse-text-size 2s infinite ease-out;
}

@keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#game-hints {
  text-align: center;
  color: #46432f;
}

#game-hints h2 {
  font-family: "Caprasimo", cursive;
  font-size: 2rem;
  margin: 0;
}

#game-hints ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#game-hints button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #23221f;
  font: inherit;
  margin-top: 1.5rem;
}
